@import "../../styles/variables.scss";
// reset styles
body {
    box-sizing: border-box;
    margin: 0;
}
ol, ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
li {
   margin: 0;
   padding: 0;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}



// add new styles
.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #f0f0f0;

    .app-container {
        flex: 1;
        max-width: 768px;
        margin: 0 auto;
        background-color: #ffffff;
    }

}
