// typography /////////////////////////////////////////////
// this styles i use for text from users
// family
$entryFontFamilyMain: "PT Serif";
// sizes
$entryFontMedium: 14px;
// colors
$entryColorPrimary: #2c2c2c;


// this styles i use for text from UI
// family
$panelFontFamilyMain: "Roboto";
// sizes
$panelFontSizeLarge: 16px;
$panelFontSizeMedium: 14px;
$panelFontSizeSmall: 12px;
// colors
$panelColorPrimary: #F9A602;
$panelColorSecondary: #ffffff;
$panelColorDark: #2c2c2c;


// this styles i use for text on image
// family
$banerFontFamilyMain: "Cookie";
// sizes
$banerFontSizeLarge: 48px;
////////////////////////////////////////////////////////////







///////////////////////////////////////////////////////////
$backgroundColorDark: #2c2c2c;
$backgroundColorOrange: #F9A602;
$backgroundColorWhite: #FFFFFF;


///////////////////////////////////////////////////////////
$borderColorPrimary: #f0f0f0;
$borderColorOrange: #F9A602;
